footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  
  .icon {
    color: var(--baby-blue);
    padding: 0.25rem 1rem 0.25rem 1rem;
  }
  
  .back-to-top {
    color: var(--baby-blue);
    text-decoration: underline;
    padding-top: 0.5rem;
  }

  a.link:active {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  
  a.link:visited {
    text-decoration: none;
  }
  
  a.link:hover {
    text-decoration: none;
  }

  #construction{
    padding-top: 15rem;
    padding-bottom: 15rem;
    text-align: center;
}