footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
 

#main{
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    background-color: #a0ddff;
}

.game{
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 5rem;
}

#directions {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #a0ddff;
}

#board{
  display: none;
}